{% set pagetitle = 'Posts' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <section id="post-index-container">
        {% if posts|length < 1 %}
            <header>
                <h1 class="pagetitle">{{ pagetitle }}</h1>
            </header>

            <p>Nothing here. You should write something!</p>

            <div class="call-to-action no-posts">
                <a href="/admin/posts/new" class="button">Let&rsquo;s write!</a>
            </div>
        {% else %}
            <header class="header-with-buttons">
                <h1 class="pagetitle">{{ pagetitle }}</h1>
                <div class="call-to-action">
                    <a href="/admin/posts/new" class="button">New Post</a>
            </header>

            <table class="tabulated-data" id="posts-table">
                <thead>
                    <tr>
                        <th class="post-id-column">#</th>
                        <th class="post-title-column">Title</th>
                        <th class="post-published-column">Published?</th>
                        <th class="post-edit-column"></th>
                        <th class="post-delete-column"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>
                                <h4>{{ post.title }}</h4>
                                {{ post.excerpt }}
                            </td>
                            <td>
                                {% if not post.publish_at %}
                                    No
                                {% elseif post.publish_at < date() %}
                                    Yes
                                {% else %}
                                    Scheduled:
                                        {{ post.publish_at|date('jS F Y') }} at
                                        {{ post.publish_at|date('H:i:s') }}
                                {% endif %}
                            </td>
                            <td>
                                <a class="action warning-action" href="#">Edit</a>
                            </td>
                            <td>
                                <a class="action danger-action confirm"
                                    href="/admin/posts/delete/{{ post.id }}?csrf={{ csrf }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}
